.tx-list {
  max-height: 400px;
  overflow-y: scroll;
}

.tx-row {
  border-bottom: 1px solid #ccc;
}

td,
th {
  padding: 13px 12px;
}

.chevron {
  margin-left: 5px;
  color: #039be5;
}

a {
  color: black;
}

tr:hover td a,
tr:active td a {
  color: #039be5;
}
