<mz-card class="overview-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Wallet Utilities
  </mz-card-title>

  <mz-card-content>
    <div class="row">
      <button
        [disabled]="disableUpdateButton"
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="updateModal.openModal()"
      >
        Update NavCoin
      </button>
    </div>

    <div class="row">
      <button
        [disabled]="disableRestartButton"
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="restartModal.openModal()"
      >
        Restart NavCoin
      </button>
    </div>

    <div class="row">
      <button
        [disabled]="disableBackupButton"
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="backUpModal.openModal()"
      >
        Backup Wallet
      </button>
    </div>

    <div class="row">
      <button
        [disabled]="disableImportButton"
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="importModal.openModal()"
      >
        Import Wallet
      </button>
    </div>
  </mz-card-content>
</mz-card>

<mz-modal #importModal>
  <mz-modal-header>
    <h4>Import wallet</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      Please enter your NavDroid user password to import your NavCoin wallet.
    </p>

    <p style="text-weight: bold; color: #FF0000;">
      This action will overwrite your existing wallet file on the device. If necessary, make sure you have backed up your wallet as this operation can not be undone.
    </p>

    <form #importWalletForm="ngForm" (ngSubmit)="onSubmitImport()">
      <label>
        Web interface Password:
        <input
        type="password"
        id="importPassword"
        name="password"
        class="validate"
        required
        [(ngModel)]="walletUtils.password"
        />
      </label>
      <label class="file-upload">
        Wallet file:
        <input
        type="file"
        id="wallet"
        name="wallet"
        class="validate"
        accept=".dat"
        required
        (change)="handleFileInput($event.target.files)"
        [(ngModel)]="walletUtils.wallet"
        />
      </label>
      <button
        mz-button
        mz-modal-close
        class="waves-effect waves-light btn blue lighten-2"
        type="submit"
        [disabled]="!walletUtils.password || !walletUtils.wallet"
      >
        Submit
      </button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #restartModal>
  <mz-modal-header>
    <h4>Restart NavCoin</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      Please enter your NavDroid user password to restart the NavCoin Daemon.
    </p>

    <form #updateDaemonForm="ngForm" (ngSubmit)="onSubmitRestart()">
      <label>
        Web interface Password:
        <input
        type="password"
        id="updateDaemonPassword"
        name="password"
        class="validate"
        required
        [(ngModel)]="walletUtils.password"
        />
      </label>
      <button
        mz-button
        mz-modal-close
        class="waves-effect waves-light btn blue lighten-2"
        type="submit"
        [disabled]="!walletUtils.password"
      >
        Submit
      </button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #updateModal>
  <mz-modal-header>
    <h4>Update NavCoin</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      Please enter your NavDroid user password to update NavCoin.
    </p>

    <form #updateDaemonForm="ngForm" (ngSubmit)="onSubmitUpdate()">
      <label>
        Web interface Password:
        <input
        type="password"
        id="updateDaemonPassword"
        name="password"
        class="validate"
        required
        [(ngModel)]="walletUtils.password"
        />
      </label>
      <button
        mz-button
        mz-modal-close
        class="waves-effect waves-light btn blue lighten-2"
        type="submit"
        [disabled]="!walletUtils.password"
      >
        Submit
      </button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #backUpModal>
  <mz-modal-header>
    <h4>Backup wallet</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      Please enter your NavDroid user password to backup your NavCoin wallet.
    </p>

    <form #backupWalletForm="ngForm" (ngSubmit)="onSubmitBackup()">
      <label>
        Web interface Password:
        <input
        type="password"
        id="backupPassword"
        name="password"
        class="validate"
        required
        [(ngModel)]="walletUtils.password"
        />
      </label>
      <button
        mz-button
        mz-modal-close
        class="waves-effect waves-light btn blue lighten-2"
        type="submit"
        [disabled]="!walletUtils.password"
      >
        Submit
      </button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>
