<mz-card class="overview-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Wallet Status
  </mz-card-title>
  <mz-card-content *ngIf="!wallet">
    Fetching Wallet Status...
  </mz-card-content>
  <mz-card-content *ngIf="wallet">
    <div class="row">
      <p>Wallet Network: {{ wallet.walletChain }}</p>
      <p>Wallet Version: {{ wallet.walletVersion }}</p>
      <p>Staking: {{ wallet.isStaking }}</p>
      <p>Wallet Encrypted: {{ wallet.isEncrypted }}</p>
      <p>Wallet Locked: {{ wallet.isLocked }}</p>
      <p>Wallet Syncing: {{ wallet.isSyncing }}</p>
      <p>Current Block Count: {{ wallet.currentBlock }}</p>
      <p>Highest Known Block Height: {{ wallet.highestKnownBlock }}</p>
    </div>

    <div
      class="row"
      *ngIf="!wallet.isLocked && wallet.isEncrypted"
      (click)="setLocked(true)"
    >
      <button class="waves-effect waves-light btn left blue lighten-2">
        Lock Wallet
      </button>
    </div>

    <div
      class="row"
      *ngIf="wallet.isLocked && wallet.isEncrypted"
      (click)="setLocked(false)"
    >
      <button class="waves-effect waves-light btn left blue lighten-2">
        Unlock Wallet
      </button>
    </div>

    <div class="row" *ngIf="!wallet.isStaking" (click)="setStaking(true)">
      <button class="waves-effect waves-light btn left blue lighten-2">
        Start Staking
      </button>
    </div>

    <div class="row" *ngIf="wallet.isStaking">
      <button
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="setStaking(false)"
      >
        Stop Staking
      </button>
    </div>

    <div class="row" *ngIf="!wallet.isEncrypted">
      <button
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="bottomSheetModal.openModal()"
      >
        Encrypt Wallet
      </button>
    </div>
  </mz-card-content>
</mz-card>

<mz-modal #bottomSheetModal [options]="modalOptions">
  <mz-modal-header>
    <h4>Encrypt Your Wallet</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      You are about to encrypt your NavCoin&nbsp;StakeBox wallet. Be aware that
      if you lose this encryption password you will be unable to recover your
      coins.
    </p>
    <p>
      Do not proceed unless you have a safe, secure back up of your password
      before encrypting.
    </p>
    <form [formGroup]="passwordForm" (ngSubmit)="encryptWallet()">
      <label>
        Wallet Password:
        <input type="text" formControlName="password" required />
      </label>

      <label>
        Confirm Password:
        <input type="text" formControlName="passwordConfirm" required />
      </label>

      <button
        mz-button
        mz-modal-close
        type="submit"
        [disabled]="!passwordForm.valid || buttonDebounce"
      >
        Encrypt Wallet
      </button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>
