<mz-card class="overview-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Community Fund Statistics
  </mz-card-title>
  <mz-card-content
    *ngIf="
      !communityFundService.communityFundStats ||
      !communityFundService.communityFundStats.funds
    "
  >
    Loading...
  </mz-card-content>
  <mz-card-content
    *ngIf="
      communityFundService.communityFundStats &&
      communityFundService.communityFundStats.funds
    "
  >
    <table>
      <thead>
        <th>Item</th>
        <th>Status</th>
      </thead>
    </table>
    <tr>
      <td>
        Funds available
      </td>
      <td class="data">
        {{ communityFundService.communityFundStats.funds.available }} NAV
      </td>
    </tr>
    <tr>
      <td>
        Funds Locked
      </td>
      <td class="data">
        {{ communityFundService.communityFundStats.funds.locked }} NAV
      </td>
    </tr>
    <tr>
      <td>
        Current Voting period start
      </td>
      <td class="data">
        Block #{{
          communityFundService.communityFundStats.votingPeriod.starting
        }}
      </td>
    </tr>
    <tr>
      <td>
        Current Voting period end
      </td>
      <td class="data">
        Block #{{ communityFundService.communityFundStats.votingPeriod.ending }}
      </td>
    </tr>
    <tr>
      <td>
        Current Block
      </td>
      <td class="data">
        #{{ communityFundService.communityFundStats.votingPeriod.current }}
      </td>
    </tr>
    <tr>
      <td>
        Remaining Blocks
      </td>
      <td class="data">
        {{
          communityFundService.communityFundStats.votingPeriod.ending -
            communityFundService.communityFundStats.votingPeriod.starting
        }}
      </td>
    </tr>
  </mz-card-content>
</mz-card>
