<mz-card class="overview-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Community Fund Payment Requests
  </mz-card-title>
  <mz-card-content class="payment-request-container">
    <div
      *ngIf="
        !communityFundService.paymentRequestList ||
        !communityFundService.paymentRequestVotes
      "
    >
      Loading...
    </div>
    <div
      *ngIf="
        communityFundService.paymentRequestList &&
        communityFundService.paymentRequestVotes
      "
    >
      <form action="" class="radio-form" (change)="updateFilter()">
        <mz-radio-button-container class="radio-button-container">
          <input
            mz-radio-button
            [(ngModel)]="payReqfilterValue"
            name="payReqFilterRadio"
            [withGap]="true"
            [label]="'All'"
            id="PR-ALL"
            value="ALL"
            type="radio"
          />
        </mz-radio-button-container>

        <mz-radio-button-container class="radio-button-container">
          <input
            mz-radio-button
            [(ngModel)]="payReqfilterValue"
            name="payReqFilterRadio"
            [withGap]="true"
            [label]="'Pending'"
            id="PR-PENDING"
            value="PENDING"
            type="radio"
          />
        </mz-radio-button-container>

        <mz-radio-button-container class="radio-button-container">
          <input
            mz-radio-button
            [(ngModel)]="payReqfilterValue"
            name="payReqFilterRadio"
            [withGap]="true"
            [label]="'Accepted'"
            id="PR-ACCEPTED"
            value="ACCEPTED"
            type="radio"
          />
        </mz-radio-button-container>
        <mz-radio-button-container class="radio-button-container">
          <input
            mz-radio-button
            [(ngModel)]="payReqfilterValue"
            name="payReqFilterRadio"
            [withGap]="true"
            [label]="'Rejected/Expired'"
            id="PR-FAILED"
            value="FAILED"
            type="radio"
          />
        </mz-radio-button-container>
      </form>
      <div
        *ngIf="
          communityFundService.getFilteredPaymentRequestList(filterBy).length <
          1
        "
        class="proposal-info"
      >
        <div class="description-text">
          No Payment Requests match current filter
        </div>
      </div>

      <div
        *ngFor="
          let paymentRequest of communityFundService.getFilteredPaymentRequestList(
            filterBy
          )
        "
        class="payment-request-info"
      >
        <div>
          <div class="description-text">
            <h1 [innerHTML]="paymentRequest.description | linkify"></h1>
          </div>
          <div>
            <span
              [ngClass]="{
                status: true,
                pending: paymentRequest.status === 'pending',
                accepted:
                  paymentRequest.status === 'accepted' ||
                  paymentRequest.status ===
                    'accepted waiting for enough coins in fund',
                rejected: paymentRequest.status === 'rejected',
                expired:
                  paymentRequest.status === 'expired' ||
                  paymentRequest.status ===
                    'expired waiting for end of voting period'
              }"
            >
              Status: {{ paymentRequest.status }}
            </span>
          </div>
          <table>
            <tr>
              <td>Amount</td>
              <td>{{ paymentRequest.requestedAmount }} NAV</td>
            </tr>
            <tr>
              <td>Yes&nbsp;Votes</td>
              <td>{{ paymentRequest.votesYes }}</td>
            </tr>
            <tr>
              <td>No&nbsp;Votes</td>
              <td>{{ paymentRequest.votesNo }}</td>
            </tr>
            <tr>
              <td>Hash</td>
              <td class="hash">{{ paymentRequest.hash }}</td>
            </tr>
          </table>

          <div class="flex-center">
            <div
              *ngIf="paymentRequest.status === 'pending'"
              class="flex-center"
            >
              <h2>Voting:</h2>
              <div class="button-container">
                <button
                  [ngClass]="{
                    'yes-btn': true,
                    selected: communityFundService.paymentRequestVotingYes(
                      paymentRequest.hash
                    )
                  }"
                  [disabled]="buttonDebounce"
                  (click)="voteOnPaymentRequest(paymentRequest.hash, 'yes')"
                >
                  Yes
                </button>
                <button
                  [ngClass]="{
                    'no-btn': true,
                    selected: communityFundService.paymentRequestVotingNo(
                      paymentRequest.hash
                    )
                  }"
                  [disabled]="buttonDebounce"
                  (click)="voteOnPaymentRequest(paymentRequest.hash, 'no')"
                >
                  No
                </button>
              </div>
            </div>
            <a
              [href]="
                'https://www.navexplorer.com/community-fund/paymentRequest/' +
                paymentRequest.hash
              "
              target="_blank"
              class="button"
              >View Payment Request</a
            >
          </div>
        </div>
        <hr />
      </div>
    </div>
  </mz-card-content>
</mz-card>
