<div class="overview-grid">
  <app-wallet-status class="overview-card-container"></app-wallet-status>
  <app-balance-overview class="overview-card-container"></app-balance-overview>
  <app-staking-overview class="overview-card-container"></app-staking-overview>
  <app-transactions-view
    class="overview-card-container"
  ></app-transactions-view>
  <app-deposit-view class="overview-card-container"></app-deposit-view>
  <app-send-to-view class="overview-card-container"></app-send-to-view>
  <app-homepage-proposal-list
    class="overview-card-container wide-cards"
  ></app-homepage-proposal-list>
  <app-homepage-payment-request-list
    class="overview-card-container wide-cards"
  ></app-homepage-payment-request-list>
</div>
