<mz-card class="overview-card deposit-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Deposit
  </mz-card-title>
  <mz-card-content>
    <qr-code [value]="qrMainAddress" [size]="300" class="qr-code"></qr-code>
    <p class="address-string">{{ qrMainAddress }}</p>
    <button
      class="waves-effect waves-light btn"
      ngxClipboard
      [cbContent]="qrMainAddress"
    >
      Copy
    </button>
    <button class="waves-effect waves-light btn" (click)="getNewAddress()">
      Generate New Address
    </button>
  </mz-card-content>
</mz-card>
