<mz-card class="overview-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Wallet Status
  </mz-card-title>
  <mz-card-content *ngIf="!wallet">
    Fetching Wallet Status...
  </mz-card-content>
  <mz-card-content *ngIf="wallet">
    <table class="row">
      <thead>
        <th>Attribute</th>
        <th>Status</th>
      </thead>
      <tr>
        <td>Wallet Network</td>
        <td>{{ wallet.walletChain }}</td>
      </tr>
      <tr>
        <td>Wallet Version</td>
        <td>{{ wallet.walletVersion }}</td>
      </tr>
      <tr>
        <td>Staking</td>
        <td>{{ wallet.isStaking }}</td>
      </tr>
      <tr>
        <td>Wallet Encrypted</td>
        <td>{{ wallet.isEncrypted }}</td>
      </tr>
      <tr>
        <td>Wallet Locked</td>
        <td>{{ wallet.isLocked }}</td>
      </tr>
      <tr>
        <td>Wallet Unlocked for Staking</td>
        <td>{{ wallet.isUnlockedForStaking }}</td>
      </tr>
      <tr>
        <td>Current Block Count</td>
        <td>{{ wallet.currentBlock }}</td>
      </tr>
    </table>

    <div
      class="row"
      *ngIf="!wallet.isLocked && wallet.isEncrypted"
      (click)="setLocked(true)"
    >
      <button
        [disabled]="buttonDebounce"
        class="waves-effect waves-light btn left blue lighten-2"
      >
        Lock Wallet
      </button>
    </div>

    <div
      class="row"
      *ngIf="wallet.isLocked && wallet.isEncrypted"
      (click)="unlockModal.openModal()"
    >
      <button
        [disabled]="buttonDebounce"
        class="waves-effect waves-light btn left blue lighten-2"
      >
        Unlock Wallet
      </button>
    </div>

    <div
      class="row"
      *ngIf="!wallet.isStaking"
      (click)="
        !wallet.isUnlockedForStaking
          ? stakingModal.openModal()
          : setStaking(true)
      "
    >
      <button
        [disabled]="buttonDebounce"
        class="waves-effect waves-light btn left blue lighten-2"
      >
        Start Staking
      </button>
    </div>

    <div class="row" *ngIf="wallet.isStaking">
      <button
        [disabled]="buttonDebounce"
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="setStaking(false)"
      >
        Stop Staking
      </button>
    </div>

    <div class="row" *ngIf="!wallet.isEncrypted">
      <button
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="encryptionModal.openModal()"
      >
        Encrypt Wallet
      </button>
    </div>
  </mz-card-content>
</mz-card>

<mz-modal #encryptionModal>
  <mz-modal-header>
    <h4>Encrypt Your Wallet</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      You are about to encrypt your NavCoin&nbsp;StakeBox wallet. Be aware that
      if you lose this encryption password you will be unable to recover your
      coins.
    </p>
    <p>
      Do not proceed unless you have a safe, secure back up of your password
      before encrypting.
    </p>

    <form [formGroup]="passwordForm" (ngSubmit)="encryptWallet()">
      <label>
        Wallet Password:
        <input type="password" formControlName="password" required />
      </label>

      <label>
        Confirm Password:
        <input type="password" formControlName="passwordConfirm" required />
      </label>
      <p *ngIf="!passwordForm.valid">
        Please ensure the passwords match and are at least 10 characters long
      </p>
      <button
        mz-button
        mz-modal-close
        type="submit"
        [disabled]="!passwordForm.valid || buttonDebounce"
      >
        Encrypt Wallet
      </button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #unlockModal>
  <mz-modal-header>
    <h4>Unlock Your Wallet</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      You are about unlock your wallet. Be aware that this means your wallet
      will be able to send payments and sign messages without the use of the
      wallets encryption password.
    </p>
    <p>
      We recommend only unlocking your wallet for the shortest amount of time
      required. Use the 'Lock Wallet' button that will display after your wallet
      is unlocked to lock it when you are finished.
    </p>

    <form [formGroup]="unlockForm" (ngSubmit)="setLocked(false)">
      <label>
        Wallet Password:
        <input type="password" formControlName="unlockPassword" required />
      </label>

      <label>
        Unlock time (in seconds):
        <input type="number" formControlName="unlockTime" required />
      </label>
      <button
        mz-button
        mz-modal-close
        type="submit"
        [disabled]="!unlockForm.valid || buttonDebounce"
      >
        Unlock Wallet
      </button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #stakingModal>
  <mz-modal-header>
    <h4>Begin Staking</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      Because your wallet is encrypted your need to enter your encryption
      password before you can start staking, please enter it below.
    </p>

    <form [formGroup]="stakingForm" (ngSubmit)="setStaking(true)">
      <label>
        Wallet Password:
        <input type="text" formControlName="stakingPassword" required />
      </label>

      <button
        mz-button
        mz-modal-close
        type="submit"
        [disabled]="!stakingForm.valid || buttonDebounce"
      >
        Begin Staking
      </button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>
