<mz-card class="overview-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Send to address
  </mz-card-title>
  <mz-card-content>
    <form (ngSubmit)="sendModal.openModal()" #loginForm="ngForm">
      <div class="input-field">
        <input
          id="address"
          type="text"
          class="validate"
          [(ngModel)]="transaction.destinationAddress"
          name="address"
        />
        <label for="username">Address</label>
      </div>
      <div class="input-field">
        <input
          id="amount"
          type="number"
          class="validate"
          [(ngModel)]="transaction.amount"
          name="amount"
        />
        <label for="amount">Amount</label>
      </div>
      <label>
        <input
          type="checkbox"
          id="fee-included"
          class="filled-in validate"
          [(ngModel)]="transaction.feeIncluded"
          name="fee-included"
        />
        <span>Fee included in amount</span>
      </label>
      <div class="input-field">
        <button
          class="waves-effect waves-light btn right"
          type="submit"
          [disabled]="!transaction.amount || !transaction.destinationAddress"
        >
          Send
        </button>
      </div>
    </form>
  </mz-card-content>
</mz-card>

<mz-modal #sendModal>
  <mz-modal-header>
    <h4>Send to Address</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p *ngIf="isEncrypted">
      Because your wallet is encrypted your need to enter your encryption
      password before you can send a transaction, please enter it below.
    </p>

    <p>
      You are going to be sending <b>{{ transaction.amount }} NAV</b> to
      <b>{{ transaction.destinationAddress }}</b
      >. Are you sure?
    </p>

    <form
      *ngIf="isEncrypted"
      [formGroup]="passwordForm"
      (ngSubmit)="
        sendToAddress(
          transaction.destinationAddress,
          transaction.amount,
          transaction.feeIncluded
        )
      "
    >
      <div>
        <label>
          Wallet Password:
          <input type="password" formControlName="password" required />
        </label>
      </div>
      <button
        mz-button
        mz-modal-close
        type="submit"
        [disabled]="!passwordForm.valid || buttonDebounce"
      >
        Send
      </button>
    </form>
    <button
      *ngIf="!isEncrypted"
      mz-button
      mz-modal-close
      (click)="
        sendToAddress(
          transaction.destinationAddress,
          transaction.amount,
          transaction.feeIncluded
        )
      "
      [disabled]="buttonDebounce"
    >
      Send
    </button>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>
