.mobile-menu {
  display: none;
}

@media (max-width: 690px) {
  .site-logo {
    font-size: 1.5rem;
    margin-left: 0.8rem;
  }

  .mobile-menu {
    display: initial;
  }
  .reg-menu {
    display: none;
  }
}
