.overview-card {
  min-height: 100%;
}

label {
  width: 100%;
}

.result {
  max-height: 350px;
  overflow-y: scroll;
  min-height: 350px;
  padding: 5px;
  max-width: 294px;
  width: 100%;
  resize: none;
}

#reset-changes {
  margin-top: 12px;
}
