<mz-card class="overview-card deposit-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Deposit
  </mz-card-title>
  <mz-card-content>
    <div *ngIf="!mainAddress">Loading...</div>
    <div *ngIf="mainAddress">
      <qr-code [value]="qrMainAddress" [size]="256" class="qr-code"></qr-code>

      <p class="address-string">{{ mainAddress }}</p>
      <button class="waves-effect waves-light btn" (click)="getNewAddress()">
        Get New Address
      </button>
      <button
        class="waves-effect waves-light btn"
        ngxClipboard
        [cbContent]="mainAddress"
      >
        Copy
      </button>
    </div>
  </mz-card-content>
</mz-card>
