.overview-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 20px;
  justify-content: center;
  max-width: 90vw;
  min-width: 300px;
  margin: 0 auto;
}

.overview-card {
  grid-column: span 3;
  width: 100%;
}
.deposit-card {
  grid-column:  span 4;
}
.overview .address-string {
  margin: 10px 0;
}
