<div>
  <div class="row">
      <div class="col m6">
        <mz-card
        class="grey lighten-5"
        [horizontal]="true">
        <mz-card-title>
          Overview
        </mz-card-title>
        <mz-card-content>
          <p>NAV / USD: <span *ngIf=explorer>{{explorer.tickerUSD}}</span></p>
          <p>NAV / BTC: <span *ngIf=explorer>{{explorer.tickerBTC}}</span></p>
          <p>Balance: <span *ngIf=wallet>{{wallet.balance}}</span> NAV</p>
        </mz-card-content>
      </mz-card>
      </div>
      <div class="col m6">
        <mz-card
        class="grey lighten-5"
        [horizontal]="true">
        <mz-card-title>
          Overview
        </mz-card-title>
        <mz-card-content>
          I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
        </mz-card-content>
      </mz-card>
      </div>
    </div>
</div>
