<mz-card class="overview-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Create a Proposal
  </mz-card-title>
  <mz-card-content>
    <form [formGroup]="proposalForm" (ngSubmit)="confirmModal.openModal()">
      <label>
        Proposal Description:
        <input type="text" formControlName="proposalDesc" required />
      </label>

      <label>
        Payment Address:
        <input type="text" formControlName="paymentAddress" required />
      </label>

      <label>
        Proposal Amount:
        <input type="number" formControlName="requestedAmount" required />
      </label>

      <label>
        Duration (in seconds):
        <input type="number" formControlName="duration" required />
      </label>

      <label>
        Fee amount (optional):
        <input type="number" formControlName="optionalFee" />
      </label>
      <button
        class="waves-effect waves-light btn "
        type="submit"
        [disabled]="!proposalForm.valid || buttonDebounce"
      >
        Submit
      </button>
    </form>
  </mz-card-content>
</mz-card>

<mz-modal #confirmModal>
  <mz-modal-header>
    <h4>Create Proposal</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      You are about to create the following proposal, you will be paying a fee
      of <b>{{ proposalForm.value.optionalFee }}</b> NAV.
    </p>
    <p *ngIf="isEncrypted">
      Since your wallet is encrypted you will need to enter your wallet
      password.
    </p>

    <form (ngSubmit)="onSubmit()">
      <p>Proposal Description: {{ proposalForm.value.proposalDesc }}</p>
      <p>
        Proposal Requested Amount: {{ proposalForm.value.requestedAmount }} NAV
      </p>
      <p>Proposal Duration (in seconds): {{ proposalForm.value.duration }}</p>
      <p>Proposal Fee: {{ proposalForm.value.optionalFee || 50 }} NAV</p>
      <div class="input-field ">
        <input type="password" name="password" [(ngModel)]="walletPassword" />
      </div>
      <button
        mz-button
        mz-modal-close
        type="submit"
        [disabled]="isEncrypted && !walletPassword"
      >
        Create Proposal
      </button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>
