@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

.main-body {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
}

.create-new-body {
    background: #2d2d2d;    
    width: 768px;
    height: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-bar-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0.6turn, #CB12C0, rgb(95, 212, 255));
    width: 10%
}

.nav-bar-div a{
    color: inherit;
}
.wallet-icon-container {
}

.side-bar-link {
    
}

/* two fields will be inside the main container */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    align-items: center;

}

.balance {
    border-radius: 50px;
    width: 500px;
    height: 300px;
    background: #515151;
    transition-duration: 0.15s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.balance:hover {
    box-shadow: 12px 20px;
}

.balance h1 {
    margin: 25px;
    font-family: "Inconsolata", monospace;
    font-size: 40px;
    background: linear-gradient(0.6turn,#9B53C4, #74C0FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-svg {
    width: 100px;
    margin: 25px;
    color: linear-gradient(0.6turn,#9B53C4, #74C0FF);

}

.amount-input {
    border-radius: 30px;
    background: #515151;
    width: 450px;
    height: 80px;
    border: solid 4px;
    border-color: #3f3f3f; 
    outline: none;
    text-align: center;
}

.amount-input, select {
    font-family: "Inconsolata", monospace;
    font-size: 25px;
    color: rgb(192, 192, 192);
}

.amount-input p {
    font-family: "Inconsolata", monospace;
    font-size: 30px;
    color: #000;
    opacity: 0.6;
}
.middle-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 500px;
}

.middle-container a {
    text-decoration: none;
    color: inherit;
}

.request-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0.6turn, #9B53C4, #8F75D6);
    border-radius: 30px;
    width: 180px;
    height: 80px;
    transition-duration: 0.15s;
}

.fa-qrcode {
    margin: 0px;
}
.request-div:hover {
    box-shadow: 10px 10px;
}

.request-div p {
    font-family: "Inconsolata", monospace;
    font-size: 30px;
    opacity: 0.7;
    margin: 0;
}

.send-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0.6turn, #8F75D6, #9B53C4);
    border-radius: 30px;
    width: 180px;
    height: 80px;
}

.send-div p {
    font-family: "Inconsolata", monospace;
    font-size: 30px;
    opacity: 0.7;
    transition-duration: 0.15s;
    margin: 0;
}

.send-div:hover {
    box-shadow: 10px 10px;
}

.statements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 50px;
    width: 500px;
    height: 300px;
    background: #515151;
    transition-duration: 0.15s;
}

.statements:hover {
    box-shadow: 12px 20px;
}

.transaction-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.amount-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amount-address h1 {
    font-family: "Inconsolata", monospace;
    font-size: 30px;
    margin: 0;
}

.amount-address p {
    font-family: "Inconsolata", monospace;
    color: rgb(192, 192, 192);
}

.transaction-one p {
    font-family: "Inconsolata", monospace;
    font-size: 50px;
    opacity: 0.7;
}

.fa-wallet {
    transition-duration: 0.15s;
}
.fa-wallet:hover {
    font-size: 60px;
}

.fa-address-book {
    transition-duration: 0.15s;
}

.fa-address-book:hover {
    font-size: 60px;
}

.fa-university {
    transition-duration: 0.15s;
}

.fa-university:hover {
    font-size: 60px;
}

.fa-user-secret {
    transition-duration: 0.15s;
}

.fa-user-secret:hover {
    font-size: 60px;
}


