<div class="main-body">
    <div class="create-new-body">

        <div class="nav-bar-div">

            <a href="#" class="side-bar-link">
                <i class="fas fa-wallet fa-3x"></i>
            </a>
            <a href="#" class="side-bar-link">
                <i class="fas fa-address-book fa-3x"></i>
            </a>    
            <a href="#" class="side-bar-link">
                <i class="fas fa-university fa-3x"></i>
            </a>
            <a href="#" class="side-bar-link">    
                <i class="fas fa-user-secret fa-3x"></i>
            </a>
        </div>
        <div class="main-container">
            <div class="balance">
                <img src="https://cdn.freebiesupply.com/logos/large/2x/nav-1-logo-png-transparent.png" class="nav-svg">
                <div class="amount-nav">
                    <h1>10,000 NAV</h1>
                </div>
            </div>
            <input class="amount-input">
            <div class="middle-container">
                <a href="#">
                    <div class="request-div">
                        <i class="fas fa-qrcode fa-2x"></i>
                        <p>
                            Request
                        </p>
                    </div>
                </a>
                <a href="#">
                    <div class="send-div">
                        <i class="fas fa-edit fa-2x"></i>
                        <p>
                            Send
                        </p>
                    </div>
                </a>
            </div>
            <div class="statements">
                <div class="transation-one">
                    <div class="amount-address">
                        <h1>-20NAV</h1>
                        <p>NfQJDyPrJ1DzyQQ29jQyewhS5qT3x3TMiG</p>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="transation-two">
                    <div class="amount-address">
                        <h1>-5NAV</h1>
                        <p>NfQJDyPrJ1DzyQQ29jQyewhS5qT3x3TMiG</p>
                    </div>
                </div>
                <div class="transation-three">
                    <div class="amount-address">
                        <h1>-12NAV</h1>
                        <p>NfQJDyPrJ1DzyQQ29jQyewhS5qT3x3TMiG</p>
                    </div>
                </div>
            </div>

        
        </div>
    </div>
</div>