.overview-grid {
  display: grid;
  grid-template-columns: repeat(6, 175px);
  grid-gap: 20px;
  justify-content: center;
  max-width: 90vw;
  min-width: 300px;
  margin: 0 auto;
}

.overview-card {
  background: red;
}

.overview-card {
  height: 100%;
}

.overview-card-container {
  grid-column: span 2;
}

.wide-cards {
  grid-column: span 3;
}

@media (max-width: 1240px) {
  .overview-grid {
    grid-template-columns: repeat(4, minmax(175px, 1fr));
  }
  .wide-cards {
    grid-column: span 4;
  }
}

@media (max-width: 840px) {
  .overview-grid {
    grid-template-columns: 1fr 1fr;
  }
  .overview-card-container {
    grid-column: span 1;
  }
  .wide-cards {
    grid-column: span 2;
  }
}

@media (max-width: 680px) {
  .overview-grid {
    grid-template-columns: 1fr;
  }
  .overview-card-container {
    grid-column: span 1;
  }
  .wide-cards {
    grid-column: span 1;
  }
}

.deposit-card {
  grid-column: span 4;
}
.overview .address-string {
  margin: 10px 0;
}

.wide-card-container {
  grid-column: span 6;
}
