<mz-card
class="overview-card grey lighten-5"
[horizontal]="true">
  <mz-card-title>
    Change User Login
  </mz-card-title>
  <mz-card-content>
    <form #uiPasswordForm="ngForm">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate"
          [(ngModel)]="uiPassword.username" name="username">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate"
          [(ngModel)]="uiPassword.password" name="password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s12">
        <button mz-button (click)="bottomSheetModal.openModal()" class="waves-effect waves-light btn right">Update</button>
      </div>
    </form>
  </mz-card-content>
</mz-card>

<mz-modal #bottomSheetModal [options]="modalOptions">
  <mz-modal-header>
    <h4>Confirm</h4>
  </mz-modal-header>
  <mz-modal-content>
    You are about to update the username and password used to login to the NavCoin&nbsp;StakeBox interface. If lose this password you will lose access to the wallet so make sure you keep it in a safe place.
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    <button mz-button mz-modal-close (click)="onSubmit()">Update</button>
  </mz-modal-footer>
</mz-modal>
