<mz-card class="overview-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Device Utilities
  </mz-card-title>

  <mz-card-content>
    <div class="row">
      <button
        [disabled]="disableRestartButton"
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="restartModal.openModal()"
      >
        Restart NavDroid
      </button>
    </div>

    <div class="row">
      <button
        [disabled]="disableUiButton"
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="updateModal.openModal()"
      >
        Update NavDroid
      </button>
    </div>

    <div class="row">
      <button
        [disabled]="disableRestartWebButton"
        class="waves-effect waves-light btn left blue lighten-2"
        (click)="restartWebModal.openModal()"
      >
        Reload NavDroid
      </button>
    </div>
  </mz-card-content>
</mz-card>

<mz-modal #restartModal>
  <mz-modal-header>
    <h4>Restart NavDroid</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      Please enter your NavDroid user password to restart your NavDroid.
    </p>

    <form #restartStakeBoxForm="ngForm" (ngSubmit)="onSubmitRestart()">
      <label>
        Web interface Password:
        <input
          type="password"
          id="restartPassword"
          name="password"
          class="validate"
          required
          [(ngModel)]="deviceUtils.password"
          />
      </label>
      <button
        mz-button
        mz-modal-close
        class="waves-effect waves-light btn blue lighten-2"
        type="submit"
        [disabled]="!deviceUtils.password"
      >
        Submit
      </button>
      </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #restartWebModal>
  <mz-modal-header>
    <h4>Reload NavDroid</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      Please enter your NavDroid user password to reload the NavDroid web services.
    </p>

    <form #restartStakeBoxForm="ngForm" (ngSubmit)="onSubmitRestartWeb()">
      <label>
        Web interface Password:
        <input
          type="password"
          id="restartWebPassword"
          name="password"
          class="validate"
          required
          [(ngModel)]="deviceUtils.password"
          />
      </label>
      <button
        mz-button
        mz-modal-close
        class="waves-effect waves-light btn blue lighten-2"
        type="submit"
        [disabled]="!deviceUtils.password"
      >
        Submit
      </button>
      </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #updateModal>
  <mz-modal-header>
    <h4>Update NavDroid Interface</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>
      Please enter your NavDroid user password to update the NavDroid web interface.
    </p>

    <form #updateUiForm="ngForm" (ngSubmit)="onSubmitUpdate()">
      <label>
        Web interface Password:
        <input
          type="password"
          id="updatePassword"
          name="password"
          class="validate"
          required
          [(ngModel)]="deviceUtils.password"
          />
      </label>
      <button
        mz-button
        mz-modal-close
        class="waves-effect waves-light btn blue lighten-2"
        type="submit"
        [disabled]="!deviceUtils.password"
      >
        Submit
      </button>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>
