<mz-card class="overview-card grey lighten-5" [horizontal]="true">
  <mz-card-title>
    Last 6 Pending Community Fund Proposals
  </mz-card-title>
  <mz-card-content>
    <div
      *ngIf="
        !communityFundService.proposalList ||
        !communityFundService.proposalVotes
      "
    >
      Loading...
    </div>
    <div
      *ngIf="
        communityFundService.proposalList && communityFundService.proposalVotes
      "
      class="proposal-container"
    >
      <hr
        *ngIf="
          communityFundService.getFilteredProposalList('pending').slice(0, 6)
            .length < 1
        "
      />
      <div
        *ngIf="
          communityFundService.getFilteredProposalList(['pending']).slice(0, 6)
            .length < 1
        "
        class="proposal-info"
      >
        <div class="description-text">
          No Pending Proposals
        </div>
      </div>
      <div
        *ngFor="
          let proposal of communityFundService
            .getFilteredProposalList(['pending'])
            .slice(0, 6)
        "
        class="proposal-info"
      >
        <div>
          <div class="description-text">
            <h1
              [innerHTML]="proposal.description | linkify"
              *ngIf="55 >= proposal.description.length"
            ></h1>
            <h1
              [innerHTML]="proposal.description.slice(0, 55) + '...' | linkify"
              *ngIf="proposal.description.length > 55"
            ></h1>
          </div>
          <div>Amount: {{ proposal.requestedAmount }} NAV</div>
        </div>
        <div class="flex-center">
          <div class="button-container">
            <button
              [ngClass]="{
                'yes-btn': true,
                selected: communityFundService.proposalVotingYes(proposal.hash)
              }"
              [disabled]="buttonDebounce"
              (click)="voteForProposal(proposal.hash, 'yes')"
            >
              Yes
            </button>
            <button
              [ngClass]="{
                'no-btn': true,
                selected: communityFundService.proposalVotingNo(proposal.hash)
              }"
              [disabled]="buttonDebounce"
              (click)="
                communityFundService.updateProposalVote(proposal.hash, 'no')
              "
            >
              No
            </button>
          </div>
          <a
            [href]="
              'https://www.navexplorer.com/community-fund/proposal/' +
              proposal.hash
            "
            target="_blank"
            class="button"
            >View Proposal</a
          >
        </div>
        <hr />
      </div>
    </div>
    <div class="see-all-container">
      <a routerLink="/community-fund" class="button">See all Proposals</a>
    </div>
  </mz-card-content>
</mz-card>
